*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    text-align: justify;
    
}
body {
    background-color: rgb(207, 207, 207);

   }
header {
    color: rgb(202, 5, 5);
    background-color: rgba(245, 245, 245, 0.322);
    border: 1px solid rgb(209, 5, 5) ; 
    list-style-type: circle;
    text-align: center;
    text-decoration:dashed;
}
#content{ 

}